doctype html
html
  head
    title Val
    script(src="/socket.io/socket.io.js")
    script(src='https://code.jquery.com/jquery-1.11.1.js')
    script(src="javascripts/rapport.js")
    script(src="javascripts/lyssnar.js")
   
  body
    block content
    
